---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Soy una diseñadora digital apasionada por la creatividad y la innovación, con una sólida formación en marketing digital adquirida en el extranjero. Mi enfoque combina la estética y la funcionalidad para crear experiencias visuales impactantes. La naturaleza es mi fuente constante de inspiración; disfruto del trekking y el ciclismo, actividades que alimentan mi creatividad y me conectan con nuevas perspectivas. Siempre busco desafíos que me permitan crecer profesional y personalmente, manteniendo una actitud proactiva y orientada a la mejora continua
		</p>
	</div>
</section>
