---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Daneska Moreno"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy una diseñadora digital apasionada por la creatividad y la innovación, con una sólida formación en marketing digital 
                        adquirida en el extranjero. Mi enfoque combina la estética y la funcionalidad para crear experiencias visuales impactantes. La naturaleza es mi fuente 
                        constante de inspiración; disfruto del trekking y el ciclismo, actividades que alimentan mi creatividad y me conectan con nuevas perspectivas. Siempre busco desafíos
                        que me permitan crecer profesional y personalmente, manteniendo una actitud proactiva y orientada a la mejora continua
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
